<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efss.mapper.UserMapper" >

	 <select id="hellowSelectUser" resultType="com.efss.entity.user.User">
			SELECT a.name username FROM sys_user a
	 </select>


	<select id="getUserByUsername" resultType="com.efss.entity.user.User">
		SELECT su.userid id,su.sessionid,su.officeid,su.name username,su.phone,su.password,su.data_scope dataScope
		FROM sys_user su
		WHERE su.phone =#{phone}
	</select>
 	
 	
 	
 	

 
</mapper>